.container{
    position: absolute;
    display: none;
    width: 40%;
    top: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all .3s ease;
    padding: 10px 13px;

    &_error{
        font-size: 14px;
        font-weight: bold;
        color: rgb(0, 30, 255);
    }
}

.hide{
    display: block;
    border: 2px dashed rgba(255, 0, 0, 0.893);
    animation: fadeout 4s ease-in forwards;
}

@keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }